body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: linear-gradient(360deg, #000000 13.96%, rgba(0, 0, 0, 0) 107.34%),
  linear-gradient(90deg, #000000 20.29%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  padding-bottom: 128px;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #000000;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }


.button {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14.4px;
  line-height: 17px;
  border-radius: 3px;
  padding: 11px 24px;
  text-decoration: none;
}

.primary {
  background-color: #2885F6;
}

.secondary {
  background-color: #767D84
}

.index-content {
  padding-top: 30.7px;
}