.textWrapper {
    color: #FFFFFF;
    width: 470px;
}

.buttonWrapper, .textWrapper {
    padding-left: 20px;
    padding-right: 20px;
}

@media(min-width: 992px) {
    .buttonWrapper, .textWrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.topTagLine, .bottomTagLine {
    font-size: 18px;
    line-height: 22px;
}

.topTagLine {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 16px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 24px;
}

@media(min-width: 992px) {
    .title {
        font-weight: bold;
        font-size: 56px;
        line-height: 68px;
        padding-bottom: 24px;
    }
    .bottomTagLine, .title, .topTagLine {
        padding-left: 0;
        padding-right: 0;
    }
}

.bottomTagLine {
    font-weight: normal;
    padding-bottom: 28px;
}

.buttonWrapper a:first-child{
    margin-right: 24px;
}