.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  /* padding-top: 47px; */
  margin: 0;
  padding-right: 100px;
}

.navigationItem {
  display: inline-flex;
  align-items: right;
  margin: 0 1em;
  align-self: center;
}

.navigationItem a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14.4px;
  line-height: 17px;
  font-weight: bold;
}

nav.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 47px;
  z-index: 1;
}

.logo {
  width: 123.76px;
  height: 24px;
}
